body {
  background-color: #eaf6f6;
}

h1 {
    color: #66bfbf;
}

h3 {
    color:#66bfbf;
}

hr {
  background-color: transparent;
  border-style: none;
  border-top: 10px dotted #ffbe00;
  height: 2px;
  width: 5%;
}



.pro {
  text-decoration: underline;
}

#top-container {
  background-color: #eaf6f6;
  /* border: solid 10px; */
  /* height: 200px; */
  padding: 20px;
  /* width: 200px;*/
}

#middle-container {
  background-color: red;
  /* border: solid 20px; */
  height: 200px;
  /* margin-left: 260px; */
  width: 200px;
}

#bottom-container {
  background-color: gold;
  /* border: solid 10px; */
  height: 200px;
  /* margin-left: 500px; */
  width: 200px;
}