body {
  background-color: #eaf6f6;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1 {
    color: #66bfbf;
    font-family: "Sacramento", cursive;
    margin-top: 0;

}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
    color:#66bfbf;
    font-family: 'Montserrat', sans-serif;
}

hr {
  background-color: transparent;
  border-style: none;
  border-top: 10px dotted #ffbe00;
  height: 2px;
  width: 5%;
}

.botton-cloud {
  position: fixed;
  margin-bottom: 10%;
}

.mountain {
  position: relative;
}

.photo {
  height: 150px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: fixed;
  margin-left: 20%;
}


#top-container {
  position: relative;
  background-color: #eaf6f6;
  /* border: solid 10px; */
  /* height: 200px; */
  padding: 20px;
  /* width: 200px;*/
}

#middle-container {

}

#bottom-container {

}