body {
  background-color: #eaf6f6;
  text-align: center;
}

h1 {
    color: #66bfbf;
    margin-top: 0;
}

h3 {
    color:#66bfbf;
}

hr {
  background-color: transparent;
  border-style: none;
  border-top: 10px dotted #ffbe00;
  height: 2px;
  width: 5%;
}

.botton-cloud {
  position: relative;
  margin-bottom: 10%;
}

.mountain {
  position: relative;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  margin-left: 20%;
}


#top-container {
  position: relative;
  background-color: #eaf6f6;
  /* border: solid 10px; */
  /* height: 200px; */
  padding: 20px;
  /* width: 200px;*/
}

#middle-container {
  background-color: red;
  /* border: solid 20px; */
  height: 200px;
  /* margin-left: 260px; */
  width: 200px;
}

#bottom-container {
  background-color: gold;
  /* border: solid 10px; */
  height: 200px;
  /* margin-left: 500px; */
  width: 200px;
}